:root{
     --body-backgrodund:#f4f4f9;
     --btn-primary: #5cabff;
     --btn-secondary:#ebcb15;
     --btn-active:#4a90e2;

}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--body-backgrodund);
}

.container{
    background-color: white;
    max-width: 600px;
    margin: 0  auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0, 1);
    padding: 20px;
}

h1{
    text-align: center;
}

#todoInput{
    width: 75%;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #ddd;
    border-radius:5px;
    

}

#addtodo{
    padding: 10px 20px;
    background-color: var(--btn-primary);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 10px;
    border-bottom: 1px solid #dbdbbd;
}

li:hover{
    background-color: aliceblue;
}

li:last-child{
    border-bottom: none;
}

.filterbtn{
    margin: 5px;
    margin-top: 5px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: var(--btn-secondary);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.filterbtn:hover{
    background-color: var(--btn-active);
}

.todoItem{
    letter-spacing: 1px;
}
